<section class=" flex flex-col gap-5 pt-20 p-6">
    <h2 class="text-2xl  font-semibold">Meet Solaris</h2>
    <p class="text-lg">We founded Solaris in 2014 to offer a different type of consultancy service - matching highly experienced, specialist consultants to the industry's most complex and strategic programmers.</p>
    <p class="text-lg">We focus on technology, data and operating model change in the investments industry, working with mid-to-large asset managers, asset owners and pension funds.</p>
    <p class="text-lg">We support the lifecycle of a programme, from strategy, selection, design, implementation to embedding in BAU. We are proud of the team that we have built and the positive impact we have with our clients.</p>
</section>