<section class=" flex flex-col gap-5  p-6">
    <div class="flex flex-col gap-2">
        <img
        src="../../public/images/expertise.webp"
        class="rounded-r-2xl"
        />
        <p class="text-2xl text-blue-900 font-medium">Expertise</p>
        <p class="text-lg text-blue-900" >We chose our people based on their experience - you can expect that Solaris consultants will always have demonstrable direct, relevant and recent experience in their fields of expertise.</p>

    </div>
    <div class="flex flex-col gap-2">
        <img
        src="../../public/images/partnership.webp"
        class="rounded-r-2xl"
        />
        <p class="text-2xl text-blue-900 font-medium">Partnership</p>
        <p class="text-lg text-blue-900" >We are committed to creating successful partnerships with our clients, over and above our contractual agreements. Our goal is to share in our client's strategic objectives and build lasting relationships with their teams.</p>

    </div>
    <div class="flex flex-col gap-2">
        <img
        src="../../public/images/trust.webp"
        class="rounded-r-2xl"
        />
        <p class="text-2xl text-blue-900 font-medium">Trust</p>
        <p class="text-lg text-blue-900" >We are proud of our track record - our clients trust us to deliver their most important programmes successfully on time and on budget.</p>

    </div>
</section>