<section class="flex flex-col gap-5 p-6 md:pl-40 md:pr-40">
  <div class="rounded-xl bg-gray-100 p-6">
    <h3 class="text-2xl text-orange-500 p-6">Our services</h3>
    <div class="flex flex-col gap-4 p-6 md:grid grid-cols-2">
      <div class="flex flex-row gap-5 justify-start">
        <img src="/images/iconCompliance8.svg" />
        <p class="text-lg text-blue-900">Investment platform implementation</p>
      </div>

      <div class="flex flex-row gap-5 justify-start">
        <img src="/images/iconOptimisation2.svg" />
        <p class="text-lg text-blue-900">
          Alladin implementation and optimisation
        </p>
      </div>
      <div class="flex flex-row gap-5 justify-start">
        <img src="/images/iconStrategy3.svg" />
        <p class="text-lg text-blue-900">
          Investment data strategy, design and implementation
        </p>
      </div>
      <div class="flex flex-row gap-5 justify-start">
        <img src="/images/iconPlatform1.svg" />
        <p class="text-lg text-blue-900">
          Operating model design, section and implementation
        </p>
      </div>
      <div class="flex flex-row gap-5 justify-start">
        <img src="/images/iconOptimisation2.svg" />
        <p class="text-lg text-blue-900">Programme delivery</p>
      </div>
      <div class="flex flex-row gap-5 justify-start">
        <img src="/images/iconFrontoffice7.svg" />
        <p class="text-lg text-blue-900">Front office specialists</p>
      </div>
      <div class="flex flex-row gap-5 justify-start">
        <img src="/images/iconOperations6.svg" />
        <p class="text-lg text-blue-900">
          Operations backfill and middle office analysts
        </p>
      </div>
      <div class="flex flex-row gap-5 justify-start">
        <img src="/images/iconCompliance8.svg" />
        <p class="text-lg text-blue-900">Compliance rule coding</p>
      </div>
    </div>
  </div>
</section>
